*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
svg,
span,
input,
select,
button,
textarea,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 47%);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}

:focus-visible {
  outline-offset: 4px;
}

::selection {
  background-color: hsl(54deg, 100%, 59%);
  color: hsl(0deg, 0%, 100%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0deg, 0%, 93%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(54deg, 100%, 59%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFC72C;
}

.container {
  padding-inline: 15px;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: "Rubik", sans-serif;
  color: hsl(210deg, 26%, 7%);
  line-height: 1.2;
  letter-spacing: -1px;
}

.h1,
.h2 {
  font-size: 3.2rem;
}

.h2,
.h3,
.h4 {
  font-weight: 600;
}

.h3 {
  font-size: 2.2rem;
}

.h4 {
  font-size: 1.8rem;
}

.btn {
  background-color: #FFC72C;
  color: hsl(0deg, 0%, 100%);
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  height: 45px;
  padding-inline: 35px;
  transition: 0.25s ease;
}

.btn-hover {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 20px;
  width: 1px;
  height: 1px;
  transform: translate(-50%, 51%) scale(1);
  border-radius: 50%;
  background-color: hsl(210deg, 26%, 7%);
  z-index: -1;
  transition: 0.5s ease;
}
.btn-hover:is(:hover, :focus)::after {
  transform: scale(500);
}

.section {
  padding-block: 60px;
}
.section.white {
  background-color: hsl(38deg, 44%, 96%);
}

.section-divider {
  position: relative;
}
.section-divider::before, .section-divider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-repeat: repeat no-repeat;
  background-position: bottom;
}
.section-divider.white::after {
  background-image: url("../images/shape-white.png");
}
.section-divider.grey::after {
  background-image: url("../images/shape-white.png");
}

.w-100 {
  width: 100%;
}

.has-scrollbar {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 40px;
}

.has-scrollbar::-webkit-scrollbar {
  height: 12px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.has-scrollbar::-webkit-scrollbar-track {
  outline: 2px solid #FFC72C;
  border-radius: 50px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  border: 3px solid hsl(0deg, 0%, 93%);
  border-radius: 50px;
}

.abs-img {
  position: absolute;
  transform: scale(1);
}

.scale-up-anim {
  animation: scaleUp 1s linear infinite alternate;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.section-title > .span {
  display: inline-block;
  color: #FFC72C;
}

.section-subtitle {
  color: hsl(3deg, 90%, 55%);
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-weight: 500;
}

.badge {
  position: absolute;
  background-color: hsl(3deg, 90%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2px 15px;
}

.rating-wrapper {
  display: flex;
  gap: 5px;
  color: #FFC72C;
}

.header-btn-group .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  border-block-end: 1px solid hsla(23deg, 61%, 86%, 0.2);
  z-index: 4;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header .container .logo {
  color: hsl(0deg, 0%, 100%);
  font-family: "Rubik", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -2px;
}
.header .container .logo span {
  display: inline-block;
  color: #FFC72C;
}
.header .container .navbar {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  background-color: hsl(0deg, 0%, 100%);
  padding-inline: 20px;
  box-shadow: 0 1px 4px hsla(0deg, 0%, 0%, 0.2);
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.25s ease;
}
.header .container .navbar.active {
  height: 236px;
  visibility: visible;
}
.header .container .navbar .navbar-list {
  margin-block: 10px;
}
.header .container .navbar .navbar-list .nav-item:not(:last-child) {
  border-block-end: 1px solid hsla(0deg, 0%, 0%, 0.04);
}
.header .container .navbar .navbar-list .nav-item .navbar-link {
  color: hsl(210deg, 26%, 7%);
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 10px 15px;
  transition: 0.25s ease;
}
.header .container .navbar .navbar-list .nav-item .navbar-link:is(:hover, :focus) {
  color: #dacf00;
}
.header .header-btn-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header-btn-group .search-btn {
  color: hsl(0deg, 0%, 100%);
  font-size: 20px;
}
.header .header-btn-group .search-btn ion-icon {
  --ionicon-stroke-width:50px;
}
.header .header-btn-group .nav-toggle-btn {
  display: grid;
  gap: 4px;
}
.header .header-btn-group .nav-toggle-btn .line {
  width: 10px;
  height: 3px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  transition: 0.25s ease;
}
.header .header-btn-group .nav-toggle-btn .line.middle {
  width: 20px;
}
.header .header-btn-group .nav-toggle-btn .line.bottom {
  margin-left: auto;
}

.nav-toggle-btn.active .line.top {
  transform: translate(1px, 3px) rotate(45deg);
}

.nav-toggle-btn.active .line.middle {
  transform: rotate(-45deg);
}

.nav-toggle-btn.active .line.bottom {
  transform: translate(-1px, -3px) rotate(45deg);
}

.header.active {
  position: fixed;
  top: -86px;
  background-color: hsl(210deg, 26%, 7%);
  box-shadow: 0 1px 4px hsla(0deg, 0%, 0%, 0.2);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.search-container {
  position: fixed;
  top: -60%;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: hsla(0deg, 0%, 0%, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 15px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.search-container.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(50%);
}
.search-container .search-box {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.search-container .search-box .search-input {
  color: hsl(0deg, 0%, 87%);
  font-size: 3rem;
  padding: 20px 15px;
  padding-inline-end: 70px;
}
.search-container .search-box .search-input::placeholder {
  color: hsl(0deg, 0%, 60%);
}
.search-container .search-box .search-input::-webkit-search-cancel-button {
  display: none;
}
.search-container .search-box .search-submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: hsl(0deg, 0%, 27%);
  font-size: 4rem;
  transition: 0.25s ease;
}
.search-container .search-box .search-submit:is(:hover, :focus) {
  color: hsl(0deg, 0%, 87%);
}
.search-container .search-close-btn {
  position: absolute;
  inset: 0;
  z-index: -1;
  cursor: url("../images/close.png"), auto;
}

main article .hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 145px 60px;
  text-align: center;
}
main article .hero .container .hero-content .hero-subtitle {
  color: #FFC72C;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-block-end: 25px;
}
main article .hero .container .hero-content .hero-title {
  color: hsl(23deg, 61%, 86%);
  max-width: 12ch;
  margin-inline: auto;
}
main article .hero .container .hero-content .hero-text {
  color: hsl(23deg, 49%, 82%);
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}
main article .hero .container .hero-content .btn {
  margin-inline: auto;
}
main article .hero .container .hero-content .btn:is(:hover, :focus) {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
}
main article .hero .container .hero-banner {
  display: none;
}

.promo-item {
  min-width: 100%;
  scroll-snap-align: start;
}
.promo-item .promo-card {
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
  padding: 40px 30px;
  box-shadow: 0 1px 2px hsla(0deg, 0%, 0%, 0.2);
  z-index: 1;
}
.promo-item .promo-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #FFC72C;
  clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
  transform: scaleY(0.3);
  transform-origin: bottom;
  z-index: -1;
  transition: 0.25s ease;
}
.promo-item .promo-card:hover::after {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  transform: scaleY(1);
}
.promo-item .promo-card .card-icon img {
  margin-inline: auto;
}
.promo-item .promo-card .card-title {
  margin-block-end: 15px;
  transition: 0.25s ease;
}
.promo-item .promo-card:hover :is(.card-title, .card-text) {
  color: hsl(0deg, 0%, 100%);
}
.promo-item .promo-card .card-text {
  margin-block-end: 15px;
  transition: 0.25s ease;
}
.promo-item .promo-card .card-banner {
  max-width: max-content;
  margin-inline: auto;
  aspect-ratio: 1/1;
}

.about {
  text-align: center;
}
.about .container .about-banner {
  position: relative;
  aspect-ratio: 1/0.9;
}
.about .container .about-banner .about-img {
  max-width: max-content;
  margin-inline: auto;
}
.about .container .about-banner .abs-img {
  top: -80px;
  left: 120px;
}
.about .container .about-content .section-title {
  max-width: 15ch;
  margin-block: 40px 10px;
  margin-inline: auto;
}
.about .container .about-content .about-list {
  margin-block: 20px 30px;
}
.about .container .about-content .about-list .about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about .container .about-content .about-list .about-item:not(:last-child) {
  margin-block-end: 10px;
}
.about .container .about-content .about-list .about-item ion-icon {
  background-color: #FFC72C;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.2rem;
  padding: 4px;
  border-radius: 50%;
  --ionicon-stroke-width: 110px;
}
.about .container .about-content .about-list .about-item .span {
  color: hsl(210deg, 26%, 7%);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.about .container .about-content .btn {
  margin-inline: auto;
}

.food-menu {
  text-align: center;
}
.food-menu .section-title {
  margin-block: 10px 20px;
}
.food-menu .section-text {
  max-width: 44ch;
  margin-inline: auto;
  margin-block-end: 30px;
}
.food-menu .filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-block-end: 40px;
}
.food-menu .filter-list .filter-btn {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(210deg, 26%, 7%);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 5px 20px;
  border: 1px solid hsl(0deg, 0%, 93%);
}
.food-menu .filter-list .filter-btn.active {
  background-color: #FFC72C;
  color: hsl(0deg, 0%, 100%);
  border-color: #FFC72C;
}
.food-menu .food-menu-list {
  display: grid;
  gap: 30px;
}
.food-menu .food-menu-list .food-menu-card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 40px;
  box-shadow: 0 1px 2px hsla(0deg, 0%, 0%, 0.2);
}
.food-menu .food-menu-list .food-menu-card:focus-within {
  outline: 1px auto -webkit-focus-ring-color;
}
.food-menu .food-menu-list .food-menu-card .card-banner {
  position: relative;
  padding-block-start: 30px;
  max-width: max-content;
  aspect-ratio: 1/1;
  margin-inline: auto;
}
.food-menu .food-menu-list .food-menu-card .card-banner .badge {
  top: 0;
  left: 0;
}
.food-menu .food-menu-list .food-menu-card .card-banner .food-menu-btn {
  position: absolute;
  top: calc(50% + 15px);
  left: 50%;
  transform: translate(-50%, 0);
  min-width: max-content;
  background-color: hsl(3deg, 90%, 55%);
  width: 60%;
  height: 40px;
  padding-inline: 20px;
  opacity: 0;
  transition: 0.5s ease;
}
.food-menu .food-menu-list .food-menu-card .card-banner .food-menu-btn:is(:hover, :focus) {
  background-color: #FFC72C;
}
.food-menu .food-menu-list .food-menu-card:is(:hover, :focus-within) .food-menu-btn {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.food-menu .food-menu-list .food-menu-card .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-block: 20px 10px;
}
.food-menu .food-menu-list .food-menu-card .wrapper .category {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.food-menu .food-menu-list .food-menu-card .wrapper .rating-wrapper {
  font-size: 1.4rem;
}
.food-menu .food-menu-list .food-menu-card .card-title {
  margin-block-end: 10px;
}
.food-menu .food-menu-list .food-menu-card .price-wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.food-menu .food-menu-list .food-menu-card .price-wrapper .price-text {
  color: hsl(3deg, 90%, 55%);
  text-transform: uppercase;
  padding-inline-end: 5px;
}
.food-menu .food-menu-list .food-menu-card .price-wrapper .price {
  color: #FFC72C;
}
.food-menu .food-menu-list .food-menu-card .price-wrapper .del {
  color: hsl(0deg, 0%, 73%);
}

.cta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}
.cta::before {
  bottom: auto;
  top: 0;
  background-image: url("../images/shape-grey.png");
  transform: scale(-1);
}
.cta .section-title {
  color: hsl(0deg, 0%, 100%);
  line-height: 1.5;
  letter-spacing: -2px;
  max-width: 17ch;
  margin-inline: auto;
}
.cta .section-text {
  color: hsl(0deg, 0%, 87%);
  margin-block: 25px 20px;
}
.cta .btn {
  margin-inline: auto;
}
.cta .cta-banner {
  position: relative;
  aspect-ratio: 1/0.9;
}
.cta .cta-banner .cta-img {
  transform: scale(1.1) translateY(60px);
}
.cta .cta-banner .abs-img {
  top: 10px;
  right: 0px;
}

.delivery .container .delivery-content {
  margin-block-end: 40px;
}
.delivery .container .delivery-content .section-title {
  max-width: 17ch;
  line-height: 1.6;
  letter-spacing: -2px;
}
.delivery .container .delivery-content .section-text {
  margin-block: 15px 25px;
}
.delivery .container .delivery-banner {
  position: relative;
  aspect-ratio: 1/0.86;
}
.delivery .container .delivery-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}

.testi {
  text-align: center;
}
.testi .container .section-title {
  margin-block: 10px 20px;
}
.testi .container .section-text {
  max-width: 44ch;
  margin-inline: auto;
  margin-block-end: 30px;
}
.testi .container .testi-list .testi-item {
  min-width: 100%;
  scroll-snap-align: start;
}
.testi .container .testi-list .testi-item .testi-card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 40px;
  text-align: left;
  box-shadow: 0 1px 2px hsla(0deg, 0%, 0%, 0.2);
}
.testi .container .testi-list .testi-item .testi-card .profile-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.testi .container .testi-list .testi-item .testi-card .profile-wrapper .avatar {
  min-width: max-content;
  border-radius: 50%;
  overflow: hidden;
}
.testi .container .testi-list .testi-item .testi-card .profile-wrapper .testi-name {
  margin-block-end: 2px;
}
.testi .container .testi-list .testi-item .testi-card .profile-wrapper .testi-title {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
}
.testi .container .testi-list .testi-item .testi-card .profile-wrapper .testi-text {
  margin-block: 20px 15px;
}

.banner {
  color: hsl(210deg, 26%, 7%);
}
.banner .banner-list {
  display: grid;
  gap: 10px;
}
.banner .banner-list .banner-lg {
  height: 430px;
}
.banner .banner-list .banner-lg .banner-subtitle {
  font-size: 2.2rem;
  margin-block-end: 10px;
}
.banner .banner-list .banner-lg .banner-title {
  font-size: 3.2rem;
  max-width: 16ch;
}
.banner .banner-list .banner-sm {
  height: 200px;
}
.banner .banner-list .banner-md {
  height: 240px;
}
.banner .banner-list .banner-md .banner-card .banner-item-content {
  left: 50%;
}
.banner .banner-list .banner-card {
  position: relative;
  background-color: hsl(0deg, 0%, 87%);
  height: 100%;
  box-shadow: 0 1px 2px hsla(0deg, 0%, 0%, 0.2);
  overflow: hidden;
}
.banner .banner-list .banner-card:is(:hover, :focus-within) .banner-img {
  transform: scale(1.05);
}
.banner .banner-list .banner-card .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.5s ease;
}
.banner .banner-list .banner-card .banner-item-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  right: 20px;
  max-height: calc(100% - 30px);
}
.banner .banner-list .banner-card .banner-item-content .banner-subtitle,
.banner .banner-list .banner-card .banner-item-content .banner-title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
.banner .banner-list .banner-card .banner-item-content .banner-text {
  margin-block: 10px 15px;
}
.banner .banner-list .banner-card .banner-item-content .btn {
  background-color: #FFC72C;
  height: 40px;
  padding-inline: 25px;
}
.banner .banner-list .banner-card .banner-item-content .btn:is(:hover, :focus) {
  background-color: hsl(210deg, 26%, 7%);
}

:is(.banner-md, .banner-sm) .banner-title {
  font-size: 2.2rem;
  max-width: 10ch;
}

.blog {
  text-align: center;
}
.blog .container .section-title {
  margin-block: 10px 20px;
}
.blog .container .section-text {
  margin-block-end: 40px;
  max-width: 44ch;
  margin-inline: auto;
}
.blog .container .blog-list {
  display: grid;
  gap: 30px;
}
.blog .container .blog-list .blog-card {
  background-color: hsl(0deg, 0%, 100%);
  text-align: left;
  box-shadow: 0 1px 2px hsla(0deg, 0%, 0%, 0.2);
}
.blog .container .blog-list .blog-card .card-banner {
  position: relative;
  aspect-ratio: 1/0.65;
  background-color: hsl(0deg, 0%, 87%);
}
.blog .container .blog-list .blog-card .card-banner .badge {
  top: 20px;
  right: 20px;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  background-color: #FFC72C;
  padding-block: 5px;
}
.blog .container .blog-list .blog-card .card-content {
  padding: 30px;
}
.blog .container .blog-list .blog-card .card-content .card-meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px 20px;
}
.blog .container .blog-list .blog-card .card-content .card-meta-wrapper .card-meta-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog .container .blog-list .blog-card .card-content .card-meta-wrapper .card-meta-link ion-icon {
  color: #FFC72C;
  font-size: 1.5rem;
  --ionicon-stroke-width: 60px;
}
.blog .container .blog-list .blog-card .card-content .card-meta-wrapper .card-meta-link:is(:hover, :focus) .meta-info {
  color: #FFC72C;
}
.blog .container .blog-list .blog-card .card-content .h3 .card-title {
  font-size: 1.8rem;
  margin-block: 20px 15px;
  transition: 0.25s ease;
}
.blog .container .blog-list .blog-card .card-content .h3 .card-title:is(:hover, :focus) {
  opacity: 0.8;
  text-decoration: underline;
}
.blog .container .blog-list .blog-card .card-content .card-text {
  margin-block-end: 20px;
}
.blog .container .blog-list .blog-card .card-content .btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blog .container .blog-list .blog-card .card-content .btn-link ion-icon {
  font-size: 1.5rem;
}
.blog .container .blog-list .blog-card .card-content .btn-link:is(:hover, :focus) {
  color: #FFC72C;
  gap: 10px;
}
.blog .container .blog-list .blog-card :is(.meta-info, .btn-link) {
  color: hsl(210deg, 26%, 7%);
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  transition: 0.25s ease;
}

/*# sourceMappingURL=style.css.map */
