.promo-item {
  min-width: 100%;
  scroll-snap-align: start;

  .promo-card {
    position: relative;
    background-color: $white;
    text-align: center;
    padding: 40px 30px;
    box-shadow: $shadow-2;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $main-yellow;
      clip-path: $clip-path-1;
      transform: scaleY(0.3);
      transform-origin: bottom;
      z-index: -1;
      transition: $transition-0_25;
    }

    &:hover::after {
      clip-path: $clip-path-2;
      transform: scaleY(1);
    }

    .card-icon {
      img {
        margin-inline: auto;
      }
    }

    .card-title {
      margin-block-end: 15px;
      transition: $transition-0_25;
    }

    &:hover :is(.card-title, .card-text) {
      color: $white;
    }

    .card-text {
      margin-block-end: 15px;
      transition: $transition-0_25;
    }

    .card-banner {
      max-width: max-content;
      margin-inline: auto;
      aspect-ratio: 1 / 1;
    }
  }
}
