.about {
    text-align: center;

    .container {
        .about-banner {
            position: relative;
            aspect-ratio: 1 / 0.9;

            .about-img {
                max-width: max-content;
                margin-inline: auto;
            }

            .abs-img {
                top: -80px;
                left: 120px;
            }
        }

        .about-content {
            .section-title {
                max-width: 15ch;
                margin-block: 40px 10px;
                margin-inline: auto;
            }

            .about-list {
                margin-block: 20px 30px;

                .about-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    &:not(:last-child){
                        margin-block-end: 10px;
                    }

                    ion-icon {
                        background-color: $main-yellow;
                        color: $white;
                        font-size: 1.2rem;
                        padding: 4px;
                        border-radius: 50%;
                        --ionicon-stroke-width: 110px;
                    }

                    .span {
                        color: $rich-black-fogra-29;
                        font-family: $font-rubik;
                        font-weight: $font-weight-500;
                    }
                }
            }
            .btn {
                margin-inline: auto;
            }
        }
    }
}