@import "_variables.scss";

// RESETS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
svg,
span,
input,
select,
button,
textarea,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

// STYLES //
html {
  font-family: $font-roboto;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $sonic-silver;
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;

  &.active {
    overflow: hidden;
  }
}

:focus-visible {
  outline-offset: 4px;
}

::selection {
  background-color: $light-yellow;
  color: $white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $cultured;
}

::-webkit-scrollbar-thumb {
  background-color: $light-yellow;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $main-yellow;
}

// ?REUSED STYLES
.container {
  padding-inline: 15px;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: $font-rubik;
  color: $rich-black-fogra-29;
  line-height: 1.2;
  letter-spacing: -1px;
}

.h1,
.h2 {
  font-size: $font-size-3_2rem;
}

.h2,
.h3,
.h4 {
  font-weight: $font-weight-600;
}

.h3 {
  font-size: $font-size-2_2rem;
}

.h4 {
  font-size: $font-size-1_8rem;
}

.btn {
  background-color: $main-yellow; //--bg-color
  color: $white;
  font-family: $font-rubik;
  font-size: $font-size-1_4rem;
  font-weight: $font-weight-500;
  height: 45px; //--height
  padding-inline: 35px; //--padding-inline
  transition: $transition-0_25;
}

.btn-hover {
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 20px;
    width: 1px;
    height: 1px;
    transform: translate(-50%, 51%) scale(1); //--scale
    border-radius: 50%;
    background-color: $rich-black-fogra-29;
    z-index: -1;
    transition: $transition-0_5;
  }

  &:is(:hover, :focus)::after {
    transform: scale(500); // ????????
  }
}

.section {
  padding-block: $section-padding;

  &.white {
    background-color: $isabelline;
  }
}

.section-devider {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-repeat: repeat no-repeat;
    background-position: bottom;
  }

  &.white::after {
    background-image: url("../images/shape-white.png");
  }

  &.grey::after {
    background-image: url("../images/shape-white.png");
  }
}

.w-100 {
  width: 100%;
}

.has-scrollbar {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 40px;
}

.has-scrollbar::-webkit-scrollbar {
  height: 12px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.has-scrollbar::-webkit-scrollbar-track {
  outline: 2px solid $main-yellow;
  border-radius: 50px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  border: 3px solid $cultured;
  border-radius: 50px;
}

// ?REUSED STYLES

@import "_header.scss";
@import "_search-box.scss";
@import "_main-hero.scss";
@import "_main-promo.scss";
